__pycache__/read_merge.cpython-37.pyc
.vscode/settings.json
__pycache__/align.cpython-37.pyc
__pycache__/processing.cpython-37.pyc
.DS_Store
VSCodeMsci.code-workspace
__pycache__/current.cpython-37.pyc
__pycache__/dB.cpython-37.pyc
__pycache__/probe_dist.cpython-37.pyc
__pycache__/mag.cpython-37.pyc
